.env
#Hardhat files
cache
artifacts
temp-artifacts
node_modules
dist/
build/
.vscode
.idea
/types
contracts/hardhat-dependency-compiler
temp-artifacts
docker-compose.yml
setup-test-env.sh

deployed-contracts.json

coverage
.coverage_artifacts
.coverage_cache
.coverage_contracts
coverage.json
deployments/

#Foundry files
out
forge-cache